.sub_nav_tab{
    padding-inline: 5px;
    border-radius: var(--tab-border-radius);
    border: var(--tab-border);
    background-color: var(--gray-100);
    color: var(--gray-700);
    text-decoration: none;
}

.active{
    background-color: white;
    color: black;
}