.SchoolClass{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SchoolClass>table{
    width: 90%;
    margin-top: 10px;
    outline: 0.5px solid var(--gray-700);
}

.SchoolClass>table>tbody>tr>td,
.SchoolClass>table>thead>tr>th{
    border: 0.5px solid var(--gray-700);
    text-align: center;
    cursor: pointer;
}

.SchoolClass>table>tbody>tr:hover{
    background-color: var(--gray-100);
}

.subject_list{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

@media (max-width: 768px) { 
    .SchoolClass>table{
        font-size: 14px;
    }
  
}
