.Navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gray-300);
}

.Navbar>.menu>img{
    width: 25px;
    cursor: pointer;
}

.Navbar>.menu{
    position: relative;
}

.menuItemsContainer{
    position: absolute;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    left: 0;
    top: 30px;
}

.Navbar>.logo_name,
.Navbar>.menu,
.Navbar>.profile_menu{
    display: flex;
    align-items: center;
}

/* .Navbar>.menu,.Navbar>.profile_menu{
    flex:0 0 10%;
} */

.Navbar>.logo_name{
    flex: 0 0 70%;
    gap: 5px;
}

.Navbar>.logo_name>img.logo{
    width: 50px;
}

.Navbar>.profile_menu>.profile{
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Navbar>.profile_menu>.profile>img{
    width: 100%;
    aspect-ratio: 1;
}

.Navbar>.profile_menu>.drop_down_menu{
    width: 15px;
}

@media (max-width: 768px) { 
    .Navbar>.logo_name>.name {
      font-size: 14px; 
    }
  
}
  