.sclassForm{
    padding: 5px;
}

.sclassForm > .class_form_subject_list_box > .subject_list_checkbox_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.sclassForm
  > .class_form_subject_list_box
  > .subject_list_checkbox_container
  > .subject_checkbox {
    display: flex;
    gap: 5px;
    padding: 3px;
    align-items: center;
    border: 1px solid var(--gray-100);
}
