.notifiation{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 4px;
    width: 80%;
    bottom: 50px;
    animation-name: notificationPop;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,1.14,.11,.97);
    z-index: 500;
}

@keyframes notificationPop{
    0%{
        bottom: -100px;
        scale: 0.4;
    }
    100%{
        bottom: 50px;
        scale: 1;
    }
}

.notifiation>.notification_content{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 95%;
}


.notifiation>button.notification_cross_button{
    cursor: pointer;
    width: 20px;
    background-color: var(--gray-400);
    border: var(--tab-border);
    aspect-ratio: 1;
}

.notifiation>.notification_content>.notification_icon{
    width: 20px;
    margin:0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifiation>.notification_content>.notification_text{
    color: white;
    text-align: left;
    text-wrap: wrap;
    font-size: 14px;
    line-height: 14px;
    /* width: 80%; */
}