.App {
  width: 100%; 
  max-width: 1200px;
  margin: auto;   
  display: flex;
  align-items: center;
  flex-direction: column;
}



@media (min-width: 768px) { /* Adjust the breakpoint as needed */
  .App {
    width: 80%; /* 80% on desktop */
  }

}
